*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    max-width: 100%;
    margin:0 auto;
}
.msg-content{
    margin-top: 15%;
    background-color: #333a4d;
    height: 500px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.head{
    width: 100%;
    height: 50px;
    background-color: #242a38;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.arrow{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 10px;
    cursor: pointer;
}
.msg-div{
    width: 100%;
    background-color: #242a38;
}
input{
    width: 80%;
    padding: 10px 0 10px 10px;
    background-color: #242a38;
    border: none;
    color: #fff;
}
::placeholder{
    color: #fff;
}
input:focus{
    outline: none;
}
button{
    width: 18%;
    padding: 10px 0 10px 10px;
    background-color: #242a38;
    outline: none;
    border: none;
    color: #fff;
}